---
title: 院長より
date: 2019-06-11
---

<h2 class="wp-block-heading">ごあいさつ</h2>

<p>こんにちは、院長の藤原漢吉（ふじわら　かんきち）です。平成１７年１１月１日から、南荻窪にて「張内科クリニック」を開業いたしました。大学病院に通院することが適当でない、風邪や高血圧、高脂血症などの疾患を、上手に診療することが、このクリニックのモットーです。そのために、電子カルテを開発し、受付・会計での待ち時間の短縮を図りました。これからも、努力を重ねていくつもりですので、どうかよろしくお願い申し上げます。私は以前、韓国籍で張漢佶（ちょう　かんきつ）という名前でしたが、平成３０年に日本国に帰化し、藤原漢吉という名前に変わりました。</p>

<h2 class="wp-block-heading">当院の特徴</h2>

<ul>
<li>当クリニックでは、オリジナルの電子カルテシステムを使用いたします。このことにより、カルテ探し、医療費計算などに伴う待ち時間を大幅に削減できます。</li>



<li>当クリニックは患者様の声に積極的に耳を傾けます。どうぞ、私宛にお気軽にメールをお送りください。メールアドレスは<code>hangil@changclinic.com</code>&nbsp;です。</li>
</ul>

<h2 class="wp-block-heading">略歴</h2>

<ul>
<li>昭和３２年６月２日、大阪生野区の生野中央病院にて生まれる。 韓国国籍で、張漢佶と名付けられる。</li>
<li>昭和４５年４月私立灘中学入学。</li>
<li>昭和５１年３月私立灘高校卒業。</li>
<li>昭和５１年４月東大理科３類入学。</li>
<li>昭和５７年３月東大医学部医学科卒業。</li>
<li>昭和５７年６月医師国家試験合格。</li>
<li>昭和５７年から昭和５９年東京大学付属病院、三井記念病院にて内科研修。</li>
<li>昭和５９年東京大学医学部第四内科（腎グループ）入局。</li>
<li>昭和６１年１年間、公立昭和病院に腎センター長として出向。</li>
<li>平成２年から平成４年、米国&nbsp;UCLA&nbsp;大学 Jerry Lewis 研究所に留学。</li>
<li>平成５年東京大学医学部第四内科助手。</li>
<li>平成７年東京大学保健管理センター助手。</li>
<li>平成１５年同講師。</li>
<li>平成１７年１１月「張内科クリニック」開業。</li>
<li>平成３０年、帰化により日本国籍を取得。藤原漢吉と改名。</li>
</ul>
