---
title: index
date: 2025-08-03
---

<img src="./static/my_face_ex.jpg"
  style="float:left;margin:10px 10px 0px 0;">
<p id="my-greeting">
  こんにちは、院長の藤原漢吉（ふじわら　かんきち）です。当院は、平成１７年１１月に杉並区南荻窪に開院しました。
  内科一般の診療サービスを提供することをその目的としています。私は、昭和５７年に東京大学医学部医学科を卒業し、 その後、腎臓・高血圧を専門分野としつつ、一般内科の診療を行ってきました。
  患者様の話をよく聞き、丁寧な診療を行うことを心がけております。 どうぞ、お気軽にご利用ください。(email: hangil@changclinic.com)
</p>
<hr />
<h2>夏季休暇のお知らせ</h2>

<p>８月１３日（水）から８月２０日（水）まで、夏季休暇とさせていただきます。</p>
<div class="post-date">(2024年8月2日)</div>
<hr />
<h2>帯状疱疹ワクチン</h2>

<ul class="wp-block-list">
  <li>帯状疱疹ワクチンの接種を実施しています。令和５年４月１日から開始となった、杉並区の助成が利用可能です。</li>



  <li>当院で接種しているワクチンは、２回接種が必要な「シングリックス」のみです。</li>



  <li>１回の費用が 22,000円です。杉並区在住の方は、そのうち 10,000円が杉並区から助成されます。２ヶ月の間をあけて、合計２回の接種が必要です。</li>



  <li>予診票は当院にありますので、ご希望の方は電話でご連絡ください。</li>
</ul>
<div class="post-date">(2023年5月1日)</div>
<hr />
<h2>マイナンバーカードによる保険資格確認</h2>

<p>令和５年４月１日から、マイナンバーカードによる保険資格の確認が当院で可能となりました。</p>
<div class="post-date">(2023年4月1日)</div>
<hr />
<h2>診療体制</h2>

<p>当院は、現在、以下のような体制で診療を行っております。</p>



<ol class="wp-block-list">
  <li>完全予約制。院内での密な状態を避けるため、予約制で診察を行います。予約は電話（03-3335-8870）でお受けします。</li>



  <li>杉並区の区民健診は実施します。予約制ですので、予約をお願いします。</li>



  <li>来院時にはマスクの着用をお願いします。</li>



  <li>これまでの遠隔診療も併行して実施します。今後は 03-3335-8870 にお電話をお願いします。電話がつながりにくい場合は、電子メールで hangil@changclinic.com
    宛にメッセージをいただければ、こちらからお電話いたします。</li>



  <li>診療時間は、午前９時４０分から午後５時に一時的に変更します。（土曜日は午前１０時から午前１２時）</li>



  <li>PayPay での支払いが可能です。</li>



  <li>マイナンバーカードを使用したオンライン資格確認を実施・推進しています。</li>



  <li>医薬品の銘柄名ではなく、一般名（成分名）での処方に取り組んでいます。</li>
</ol>



<p></p>
<div class="post-date">(2022年8月1日)</div>