---
title: 麻疹（はしか）
date: 2020-10-06
---

<p>麻疹予防接種は授乳者でも可能と考えられます。ワクチン製造会社に直接問い合わせてそのような回答を得ました。 また、(<a href="http://idsc.tokyo-eiken.go.jp/diseases/measles/measlesQA/mashinqanda.html">麻しんQ&amp;A東京都感染情報センター</a>)にも同様の記載があります。</p>

<h2 class="wp-block-heading">リンク</h2>

<ul>
<li><a href="http://idsc.tokyo-eiken.go.jp/diseases/measles/measlesQA/mashinqanda.html">麻しんQ&amp;A(東京都感染情報センター</a>)</li>



<li><a href="http://idsc.nih.go.jp/disease/measles/report2002/measles_top.html">麻疹の現状と今後の麻疹対策について</a></li>



<li><a href="http://idsc.nih.go.jp/disease/measles/index.html">麻疹（感染症情報センター）</a></li>
</ul>