---
title: 診療内容
date: 2010-10-06
---

<h2 class="wp-block-heading">内科診察</h2>

<p>
  当院は内科一般の診察を行っております。頻度の高い疾患としては、風邪、気管支炎、急性胃腸炎、花粉症などの診察・治療を行います。また、高血圧、高脂血症、慢性腎炎の診療にも多くの経験があります。
</p>

<h2 class="wp-block-heading">検査</h2>

<p>以下のような検査が当院で可能です</p>

<ul>
  <li>Ｘ線撮影</li>

  <li>心電図</li>

  <li>尿検査（蛋白、潜血、糖、白血球など）</li>

  <li>血液検査（貧血、肝機能、コレステロール値、中性脂肪、など）</li>

  <li>腹部エコー検査</li>
</ul>

<h2 class="wp-block-heading">杉並区区民健診</h2>

<p>
  当院で、杉並区区民健康診査を実施しております。診療日の午前９時１０分から行い、完全予約制です。所用時間が２０分ぐらいです。受付あるいは電話にて予約をしていただき、当日は、杉並区から交付された「区民健康診査受診票」受診票をお持ちください。また、健診当日は、朝食をとらないでいらしてください。飲水は結構です。
</p>

<h2 class="wp-block-heading">予防接種</h2>

<figure class="border vaccine-prices">
  <table>
    <tbody>
      <tr>
        <th>名称</th>
        <th>費用（消費税込み）</th>
      </tr>
      <tr>
        <td>インフルエンザ</td>
        <td>3,500円</td>
      </tr>
      <tr>
        <td>新型コロナ（ファイザー社製）</td>
        <td>17,000円</td>
      </tr>
      <tr>
        <td>肺炎球菌（ニューモバックス）</td>
        <td>8,150円</td>
      </tr>
      <tr>
        <td>おたふくかぜ</td>
        <td>5,940円</td>
      </tr>
      <tr>
        <td>麻疹（はしか）</td>
        <td>6,130円</td>
      </tr>
      <tr>
        <td>風疹</td>
        <td>5,760円</td>
      </tr>
      <tr>
        <td>みずぼうそう</td>
        <td>8,150円</td>
      </tr>
      <tr>
        <td>Ａ型肝炎</td>
        <td>8,080円</td>
      </tr>
      <tr>
        <td>Ｂ型肝炎</td>
        <td>6,470円</td>
      </tr>
      <tr>
        <td>破傷風</td>
        <td>3,850円</td>
      </tr>
      <tr>
        <td>ジフテリア・破傷風（混合）</td>
        <td>4,150円</td>
      </tr>
    </tbody>
  </table>
</figure>

<p>
  当院で実施可能な予防接種は左のとおりです。いずれも予約制ですので、ご希望の方は、受付あるいは電話にてお申し込みください。ワクチンが入荷しましたらこちらからご連絡し、接種日を、相談のうえ、決めさせていただきます。
</p>

<p>
  健康保険は適用されませんので、全額自己負担となります。公費による予防接種は取り扱っておりません。
</p>
